# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.log

# Ignore workflow logs (optional)
.github/workflows/*.log

# Ignore VSCode settings (optional)
.vscode/


# Ignore system files
.DS_Store
Thumbs.db
